.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 20px;
    justify-content: center;
}

.grid-item {
    text-align: left;
    color: black;
    margin: 20px;
    padding: 10px;
    height: 170px;
    width: 120px;
    background-color: orange;
    border-radius: 28px;
    padding:20px;
}
.grid-item-internal{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.icon {
    background: transparent;
    color: white;
}

.grid-item p{
    background-color: transparent;
    display: inline-flex;
    margin-right: 0rem;
}

button {
    height:30px;
    width: 32px;
    color: orange;
    border: none;
    font-size: larger;
}
.imgRec img{
    width: 120px;
    height: 120px;
    border-radius: 30px;
    padding: 20px;
    background-color: orange;
}

.imgRec {
    display: flex;
    background:transparent;
    justify-content: center;
}