.formdiv {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    text-align: center;
  
  }
  
  .mainheading {
    font-size: 2em;
    font-weight: bold;
  }
  
  .registerButton {
    width: 300px;
    border-radius: 20px;
    padding: 11px;
    background-color: #FF8C00;
    color: white;
    font-weight: bold;
    border-style: none;
  }
  
  .lastline {
    color: #FF8C00;
  }
  